@{
    ViewBag.Title = "Contato";
}
<h3>@ViewBag.Title.</h3>
<h4>@ViewBag.Message</h4>

<br /><br />

<div class="well">
    <address>
        Av. Rio Branco, 311, <abbr title="Grupo">Gr.</abbr> 601 e 602<br />
        Centro, Rio de Janeiro - RJ<br />
        CEP: 20040-009<br /><br />
        <abbr title="Telefone">T:</abbr>
        +55 (21) 2524-6677
    </address>
</div>
<br />

<address>
    <strong>Suporte:</strong>   <a href="mailto:suporte@n1contactcenter.com.br">suporte@n1contactcenter.com.br</a><br />
    <strong>Comercial:</strong> <a href="mailto:comercial@n1contactcenter.com.br">comercial@n1contactcenter.com.br</a><br /><br />
    <strong>Visite nossa página:</strong> <a href="http://www.n1contactcenter.com.br" target="_blank">n1contactcenter.com.br</a>
</address>